.btn-icon {
  padding: 0;
  width: 48px;
  border: none;
  height: 48px;
  display: flex;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  background: none;
  align-items: center;
  justify-content: center;
}

.btn-icon:hover {
  background: #fafafa;
}

.btn-icon:active, .btn-icon:focus {
  background: #efefef;
}