.calendar-container {
  margin: 0 auto;
  color: #a1a1a1;
  text-align: center;

  .header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 1px solid #323232;

    .header-item {
      color: #53c;
      display: flex;
      overflow: hidden;
      font-weight: 600;
      align-items: center;
      box-sizing: border-box;
      justify-content: center;

      &:after {
        content: '';
        padding-bottom: 100%;
      }
    }
  }

  .main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .day-item {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      justify-content: center;

      &:after {
        content: '';
        padding-bottom: 100%;
      }

      &.today {
        position: relative;
        color: #fff;
        transform-style: preserve-3d;

        &:before {
          content: '';
          background: #53c;
          position: absolute;
          width: 60%;
          height: 60%;
          border-radius: 50%;
          transform: translateZ(-1px);
        }
      }
      &.weekend {
        color: #d22;
      }
      &.other-month {
        color: #666;
      }
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;

    .current-date {
      display: flex;
      align-items: center;
      color: #a1a1a1;
      justify-content: center;
    }

    .btn {
      width: 25%;
      border: none;
      height: 48px;
      color: #aaaafa;
      background: #53c;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 768px) {
  .calendar-container {
    width: 768px;
    margin: 32px auto;
  }
}