@import 'base';
@import 'calendar';

header {
  background: #53c;
  padding: 16px;
  font-size: 20px;
  font-weight: 600;
  z-index: 1;
  color: #aaaafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}